include head
main.pure-g
    section.pure-u-1
        table.pure-table
            thead
                tr
                    th #
                    th title
                    th pegi
                    th release date
                    th editor
                    th platform
                    th current price
            tbody
                each item in items
                    tr
                        td #{item.id}
                        td #{item.title}
                        td #{item.pegi}
                        td #{item.releaseDate}
                        td #{item.editor}
                        td #{item.platform}
                        td #{item.price}